<div fxLayout="row">
  <mat-card fxFlex>
      <h3>مشخصات خودرو را ثبت نمایید.</h3>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
      <div [formGroup]="formGroup">
        <app-field-select
          [formGroup]="formGroup"
          [placeholder]="(EstateType$ | async)?.Label"
          controlName="EstateType"
          [description]="(EstateType$ | async)?.Description"
          [hint]="(EstateType$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(EstateType$ | async)?.Description"
          [options]="(EstateType$ | async)?.Options"
        ></app-field-select>

        <app-field-input
          [formGroup]="formGroup"
          [placeholder]="(Units$ | async)?.Label"
          controlName="Units"
          [description]="(Units$ | async)?.Description"
          [hint]="(Units$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(Units$ | async)?.Description"
          [options]="(Units$ | async)?.Options"
        ></app-field-input>
        
        <app-field-select
        [formGroup]="formGroup"
        [placeholder]="(BuildType$ | async)?.Label"
        controlName="BuildType"
        [description]="(BuildType$ | async)?.Description"
        [hint]="(BuildType$ | async)?.Description"
        [mode]="mode"
        [tooltip]="(BuildType$ | async)?.Description"
        [options]="(BuildType$ | async)?.Options"
        ></app-field-select>
      </div>

      <app-field-input
        [formGroup]="formGroup"
        [placeholder]="(Area$ | async)?.Label"
        controlName="Area"
        [description]="(Area$ | async)?.Description"
        [hint]="(Area$ | async)?.Description"
        [mode]="mode"
        [tooltip]="(Area$ | async)?.Description"
        [options]="(Area$ | async)?.Options"
      ></app-field-input>

      <app-field-input
        [formGroup]="formGroup"
        [placeholder]="(ThingsValue$ | async)?.Label"
        controlName="ThingsValue"
        [description]="(ThingsValue$ | async)?.Description"
        [hint]="(ThingsValue$ | async)?.Description"
        [mode]="mode"
        [tooltip]="(ThingsValue$ | async)?.Description"
        [options]="(ThingsValue$ | async)?.Options"
      ></app-field-input>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" *ngIf="mode == 'edit'" (click)="complete()"  [disabled]="formGroup.invalid">ثبت</button>
      <button mat-raised-button color="primary" *ngIf="mode == 'view'" (click)="editMode()">ویرایش</button>
    </mat-card-actions>
  </mat-card>
</div>