<div fxLayout="row">
  <mat-card fxFlex>
      <h3>مشخصات خودرو را ثبت نمایید.</h3>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
      <div [formGroup]="formGroup">
        <app-field-select
          [formGroup]="formGroup"
          [placeholder]="(noemelk$ | async)?.Label"
          controlName="noemelk"
          [description]="(noemelk$ | async)?.Description"
          [hint]="(noemelk$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(noemelk$ | async)?.Description"
          [options]="(noemelk$ | async)?.Options"
        ></app-field-select>

        <app-field-input
          [formGroup]="formGroup"
          [placeholder]="(tedadvahed$ | async)?.Label"
          controlName="tedadvahed"
          [description]="(tedadvahed$ | async)?.Description"
          [hint]="(tedadvahed$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(tedadvahed$ | async)?.Description"
          [options]="(tedadvahed$ | async)?.Options"
        ></app-field-input>
        
        <app-field-select
        [formGroup]="formGroup"
        [placeholder]="(noesaze$ | async)?.Label"
        controlName="noesaze"
        [description]="(noesaze$ | async)?.Description"
        [hint]="(noesaze$ | async)?.Description"
        [mode]="mode"
        [tooltip]="(noesaze$ | async)?.Description"
        [options]="(noesaze$ | async)?.Options"
        ></app-field-select>
      </div>

      <app-field-input
        [formGroup]="formGroup"
        [placeholder]="(metrazh$ | async)?.Label"
        controlName="metrazh"
        [description]="(metrazh$ | async)?.Description"
        [hint]="(metrazh$ | async)?.Description"
        [mode]="mode"
        [tooltip]="(metrazh$ | async)?.Description"
        [options]="(metrazh$ | async)?.Options"
      ></app-field-input>

      <app-field-input
        [formGroup]="formGroup"
        [placeholder]="(arzeshlavazem$ | async)?.Label"
        controlName="arzeshlavazem"
        [description]="(arzeshlavazem$ | async)?.Description"
        [hint]="(arzeshlavazem$ | async)?.Description"
        [mode]="mode"
        [tooltip]="(arzeshlavazem$ | async)?.Description"
        [options]="(arzeshlavazem$ | async)?.Options"
      ></app-field-input>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" *ngIf="mode == 'edit'" (click)="complete()"  [disabled]="formGroup.invalid">ثبت</button>
      <button mat-raised-button color="primary" *ngIf="mode == 'view'" (click)="editMode()">ویرایش</button>
    </mat-card-actions>
  </mat-card>
</div>