:host{
    background: #206aab;
    display: block;
    width: calc(100vw - 14px);
    height:calc(100vh - 65px);
    height:calc(100vh - 400px);
    position:relative;
    left: 28px;
    top: -30px;
}

#particles-js{
    width: calc(100vw - 14px);
    height: calc(100vh - 400px);
}

#centerPosition{
    position: absolute;
    width: 500px;
    left: calc(50vw - 250px);
    top:90px;
}
/* canvas{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
} */
/* #layout{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
} */


/* #particles-js,
#container{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
} */