<div class="review-component" *ngIf="orderForm">

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="25px">
    <div fxFlex="60">
        <h3>مشخصات بیمه گذار</h3>
        <mat-card>
            <mat-grid-list class="mat-table mat-row" cols="6" rowHeight="40px">
            <mat-grid-tile class="th">نام</mat-grid-tile>
            <mat-grid-tile class="th">{{orderForm.PolicyholderFatherName.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{orderForm.PolicyholderNationalCode.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{orderForm.PolicyholderMobile.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{orderForm.PolicyholderPhone.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{orderForm.PolicyholderBirthDate.Label}}</mat-grid-tile>
            <mat-grid-tile>{{orderForm.PolicyholderFirstName.DisplayValue}} {{orderForm.PolicyholderLastName.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{orderForm.PolicyholderFatherName.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{orderForm.PolicyholderNationalCode.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{orderForm.PolicyholderMobile.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{orderForm.PolicyholderPhone.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{orderForm.PolicyholderBirthDate.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile colspan="2" class="th">{{orderForm.PolicyAddress.Label}}</mat-grid-tile>
            <mat-grid-tile colspan="4">{{orderForm.PolicyAddress.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile colspan="2" class="th">{{orderForm.DeliveryPlaceAddress.Label}}</mat-grid-tile>
            <mat-grid-tile colspan="4">{{orderForm.DeliveryPlaceAddress.DisplayValue}}</mat-grid-tile>
            <!-- <mat-grid-tile class="th">شرکت بیمه</mat-grid-tile>
            <mat-grid-tile colspan="4">{{orderForm.DeliveryPlaceAddress.DisplayValue}}</mat-grid-tile> -->
          </mat-grid-list>
        </mat-card>

        <br/>

        <h3>مشخصات بیمه نامه</h3>
        <order-third-party-policy-review *ngIf="orderForm.Type.Value==1" [orderForm]="orderForm"></order-third-party-policy-review>

        <br/>

        <h3>مشخصات کارگزار</h3>
        <mat-card>
          <mat-grid-list class="mat-table mat-row" cols="4" rowHeight="40px">
            <mat-grid-tile class="th">{{orderForm.SellerName.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{orderForm.SellerNationalId.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{orderForm.SellerRegistrationNo.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{orderForm.SellerEconomicNo.Label}}</mat-grid-tile>
            <mat-grid-tile>{{orderForm.SellerName.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{orderForm.SellerNationalId.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{orderForm.SellerRegistrationNo.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{orderForm.SellerEconomicNo.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile colspan="4">
              <!-- <b>{{orderForm.SellerAddress.Label}}: </b> -->
              <span>{{orderForm.SellerAddress.DisplayValue}}, </span>
              <b> {{orderForm.SellerZipCode.Label}}: </b>
              <span>{{orderForm.SellerZipCode.DisplayValue}}, </span>
              <b> {{orderForm.SellerPhone.Label}}: </b>
              <span> {{orderForm.SellerPhone.DisplayValue}}</span>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>

    </div>
          
    <div fxFlex="30">
      <h3  *ngIf="!orderForm.PaymentId.Value">شرایط و قوانین</h3>
      <mat-card *ngIf="!orderForm.PaymentId.Value">
        <order-terms></order-terms>
      </mat-card>

      <br/>

      <h3>جزئیات پرداخت</h3>
      <mat-card id="paymentInfo" [formGroup]="formGroup">
        <mat-card-content>
          <div fxLayout="row wrap">
            <div fxFlex="50">حق بیمه خالص</div>
            <div fxFlex="50"><b>{{orderForm.NetPremium.DisplayValue}}</b></div>
            <div fxFlex="50">مالیات و عوارض</div>
            <div fxFlex="50"><b>{{orderForm.TaxesAndDuties.DisplayValue}}</b></div>
            <div fxFlex="50">جمع کل حق بیمه</div>
            <div fxFlex="50"><b>{{orderForm.TotalPremium.DisplayValue}}</b></div>
            <div fxFlex="50">تخفیف </div>
            <div fxFlex="50"><b>{{orderForm.Discount.DisplayValue}}</b></div>
            <div fxFlex="50">هزینه ارسال</div>
            <div fxFlex="50"><b>{{orderForm.ShippingCost.DisplayValue}}</b></div>
            <div fxFlex="100">
            <mat-accordion class="fit" *ngIf="!orderForm.PaymentId.Value">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  کد تخفیف دارید؟
                </mat-expansion-panel-header>
                <div fxLayout="row">
                  <mat-form-field class="fill fit" appearance="fill">
                    <input matInput placeholder="کد تخفیف">
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <mat-chip-list *ngIf="orderForm.PaymentId.Value">
          <mat-chip color="primary" selected="true">پرداخت شده</mat-chip>
        </mat-chip-list>
        <mat-checkbox class="wrap" *ngIf="!orderForm.PaymentId.Value" formControlName="AcceptAgreementTerms">{{orderForm.AcceptAgreementTerms.Label}}</mat-checkbox>
        </mat-card-content>
        <mat-card-actions fxLayout="row" *ngIf="!orderForm.PaymentId.Value">
          <button fxFlex="100" mat-raised-button (click)="pay()" color="primary" [disabled]="formGroup.invalid">
              تایید نهایی و پرداخت
          </button>
        </mat-card-actions>
        <mat-card-footer fxLayout="row" fxLayoutAlign="center center" *ngIf="!orderForm.PaymentId.Value">
          <div fxFlex="50">مبلغ قابل پرداخت</div>
          <h3 fxFlex="50">
              {{orderForm.AmountPayable.DisplayValue}}
          </h3>
          <order-redirect-to-bank [data]="InitiationPaymentResult$ | async"></order-redirect-to-bank>
        </mat-card-footer>
      </mat-card>

    </div>
  </div>
</div>
