<div class="review-component">

  <div fxLayout="row" fxLayoutGap="25px">
    <div fxFlex="60">
      <mat-card>
        <mat-grid-list class="mat-table mat-row" cols="4" rowHeight="40px">
          <mat-grid-tile class="th">{{(SellerName$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(SellerNationalId$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(SellerRegistrationNo$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(SellerEconomicNo$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile>{{(SellerName$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile>{{(SellerNationalId$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile>{{(SellerRegistrationNo$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile>{{(SellerEconomicNo$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile colspan="4">
            <b>{{(SellerAddress$ | async)?.Label}}: </b>
            <span>{{(SellerAddress$ | async)?.Value}}, </span>
            <b>{{(SellerZipCode$ | async)?.Label}}: </b>
            <span>{{(SellerZipCode$ | async)?.Value}}, </span>
            <b>{{(SellerPhone$ | async)?.Label}}: </b>
            <span>{{(SellerPhone$ | async)?.Value}}</span>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>

      <br/>

      <mat-card>
        <mat-grid-list class="mat-table mat-row" cols="6" rowHeight="40px">
          <mat-grid-tile class="th">نام</mat-grid-tile>
          <mat-grid-tile class="th">{{(PolicyholderFatherName$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(PolicyholderNationalCode$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(PolicyholderMobile$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(PolicyholderPhone$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(PolicyholderBirthDate$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile>{{(PolicyholderFirstName$ | async)?.Value}} {{(PolicyholderLastName$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile>{{(PolicyholderFatherName$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile>{{(PolicyholderNationalCode$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile>{{(PolicyholderMobile$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile>{{(PolicyholderPhone$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile>{{(PolicyholderBirthDate$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(PolicyAddress$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile colspan="5">{{(PolicyAddress$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(DeliveryAddress$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile colspan="5">{{(DeliveryAddress$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile class="th">شرکت بیمه</mat-grid-tile>
          <mat-grid-tile colspan="5">biemh</mat-grid-tile>
        </mat-grid-list>
      </mat-card>

      <br/>
      
      <mat-card>
        <mat-grid-list class="mat-table mat-row" cols="6" rowHeight="40px">
          <mat-grid-tile class="th">{{(CarModel$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(CarUsage$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(PolicyTerm$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile class="th">{{(Discount$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile class="th"></mat-grid-tile>
          
          <mat-grid-tile>{{(CarModel$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile>{{(CarUsage$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile>{{(PolicyTerm$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile>{{(Discount$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>

          <mat-grid-tile colspan="3" class="th">{{(LastPolicyExpirationDate$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile colspan="3">{{(LastPolicyExpirationDate$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile colspan="3" class="th">{{(LastPolicyYearsWithoutIncident$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile colspan="3">{{(LastPolicyYearsWithoutIncident$ | async)?.Value}}</mat-grid-tile>
          <mat-grid-tile colspan="1" class="th">{{(PolicyPushesheMali$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile colspan="1">{{(PolicyPushesheMali$ | async)?.DisplayValue}}</mat-grid-tile>
          <mat-grid-tile colspan="1" class="th">{{(PolicyPushesheRanande$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile colspan="1">{{(PolicyPushesheRanande$ | async)?.DisplayValue}}</mat-grid-tile>
          <mat-grid-tile colspan="1" class="th">{{(PolicyPushesheSarneshin$ | async)?.Label}}</mat-grid-tile>
          <mat-grid-tile colspan="1">{{(PolicyPushesheSarneshin$ | async)?.DisplayValue}}</mat-grid-tile>
        </mat-grid-list>
      </mat-card>
      
    </div>
          
    <div fxFlex>
      <mat-card>
        <div fxLayout="row wrap">
          <div fxFlex="50">حق بیمه خالص</div>
          <div fxFlex="50">-</div>
          <div fxFlex="50">مالیات و عوارض</div>
          <div fxFlex="50">-</div>
          <div fxFlex="50">جمع کل حق بیمه</div>
          <div fxFlex="50">-</div>
          <div fxFlex="50">تخفیف بیمه بازار</div>
          <div fxFlex="50">-</div>
          <div fxFlex="50">هزینه ارسال</div>
          <div fxFlex="50">-</div>
          <div fxFlex="100">
            <mat-accordion class="fit">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                      کد تخفیف دارید؟
                </mat-expansion-panel-header>
                <div fxLayout="row">
                  <mat-form-field class="fill">
                    <input matInput class="fit" placeholder="کد تخفیف">
                  </mat-form-field>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div fxFlex="50">مبلغ قابل پرداخت</div>
          <div fxFlex="50">-</div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
