<ng-container>

    <button mat-button [matMenuTriggerFor]="naghliye">بیمه وسایل نقلیه</button>
    <mat-menu #naghliye="matMenu">
      <button mat-menu-item routerLink="/order/purchase/third-party-policy/select-product">بیمه شخص ثالث</button>
      <button mat-menu-item routerLink="/order/purchase/motorcycle-policy/select-product">بیمه موتورسیکلت</button>
      <button mat-menu-item disabled routerLink="">بیمه بدنه</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="ashkhas">بیمه اشخاص</button>
    <mat-menu #ashkhas="matMenu">
      <button mat-menu-item disabled routerLink="">بیمه مسافرتی</button>
      <button mat-menu-item disabled routerLink="">بیمه اشخاص</button>
      <button mat-menu-item disabled routerLink="">بیمه حوادث انفرادی</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="amval">بیمه اموال</button>
    <mat-menu #amval="matMenu">
      <button mat-menu-item routerLink="/order/purchase/fire-policy/select-product">بیمه آتش سوزی</button>
      <button mat-menu-item routerLink="/order/purchase/earthquake-policy/select-product">بیمه زلزله</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="masooliat">بیمه مسئولیت</button>
    <mat-menu #masooliat="matMenu">
      <button mat-menu-item routerLink="/order/purchase/medical-policy/select-product">بیمه مسئولیت پزشکان</button>
    </mat-menu>

    <button mat-button disabled routerLink="">شرکت های بیمه</button>

    <button mat-button disabled routerLink="">بلاگ</button>

    <button mat-button disabled routerLink="">همکاری با ما</button>

</ng-container>