<mat-card>
  <mat-grid-list class="mat-table mat-row" cols="6" rowHeight="40px">
    <mat-grid-tile colspan="2" class="th">{{orderForm.MotorType.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="2" class="th">{{orderForm.PolicyTerm.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="2" class="th">{{orderForm.PolicyPushesheMali.Label}}</mat-grid-tile>
    
    <mat-grid-tile colspan="2">{{orderForm.MotorType.DisplayValue}}</mat-grid-tile>
    <mat-grid-tile colspan="2">{{orderForm.PolicyTerm.DisplayValue}}</mat-grid-tile>
    <mat-grid-tile colspan="2">{{orderForm.PolicyPushesheMali.DisplayValue}}</mat-grid-tile>

    <mat-grid-tile colspan="2" class="th">{{orderForm.LastPolicyExpirationDate.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="1">{{orderForm.LastPolicyExpirationDate.DisplayValue}}</mat-grid-tile>
    <mat-grid-tile colspan="2" class="th">{{orderForm.LastPolicyDiscountYears.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="1">{{orderForm.LastPolicyDiscountYears.DisplayValue}}</mat-grid-tile>
    <mat-grid-tile colspan="2" class="th">{{orderForm.PolicyAddress.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="4">{{orderForm.PolicyAddress.DisplayValue}}</mat-grid-tile>
</mat-grid-list>
</mat-card>