/* #region order */
.policy-compare-card .mat-drawer-backdrop.mat-drawer-shown {
	background-color: transparent !important;
}

.policy-compare-card mat-sidenav-content {
	transition: filter 0.5s;
	filter: blur(0px) !important;
}
.policy-compare-card .mat-drawer-transition.mat-drawer-opened mat-sidenav-content {
	filter: blur(2px) !important;
}
/* #endregion */

.review-component figure.mat-figure {
	justify-content: right !important;
	padding: 10px;
	box-sizing: border-box;
}

.drop-zone {
	border-radius: 0 !important;
	border: 1px solid #ddd !important;
	text-align: center;
	font-size: smaller;
	/* margin: 0 17.5px 0 17.5px; */
	background: #f5f5f5;
	color: #333 !important;
}
.drop-zone * {
	color: #333 !important;
}
.no-padding .mat-horizontal-content-container {
	padding: 0px !important;
}

mat-checkbox.wrap .mat-checkbox-layout {
	white-space: pre-wrap;
}
