<order-purchase-stepper step="0" [progress]="!orderForm" type="4" [id]="orderForm?.Id.Value"></order-purchase-stepper>

<div fxLayout="row wrap">
    <mat-progress-bar *ngIf="!orderForm"
    color="primary"
    mode="indeterminate">
  </mat-progress-bar>
<div fxFlex="100">
    <order-home-detail [orderForm]="orderForm" (done)="homeIsDone($event)"></order-home-detail>
  </div>
  <div fxFlex="100">
    <order-fire-policy-products-list [orderForm]="orderForm" [policies]="policies$ | async" (select)="selectProduct($event)"></order-fire-policy-products-list>
  </div>
</div>