<mat-sidenav-container>
  <!-- <mat-sidenav mode="side" #requestDetailNav *ngIf='showSidebarMenu | async' [opened]='showSidebarMenu | async'> -->
  <mat-sidenav position='end' mode="side" #policyDetailNav>

  </mat-sidenav>

  <div fxLayout="row">

    <div fxFlex="30" fxLayout="column">
      <mat-card fxFlex>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
          <div [formGroup]="formGroup">

            <mat-form-field class="fit">
                <mat-select [placeholder]="(CarBrand$ | async)?.Label" formControlName="CarBrand">
                  <mat-option *ngFor="let item of (CarBrand$ | async)?.Options" [value]="item.Value">
                    {{ item.DisplayValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field class="fit">
                <mat-select [placeholder]="(CarModel$ | async)?.Label"  formControlName="CarModel">
                  <mat-option *ngFor="let item of (CarModelOptions$ | async)" [value]="item.Value">
                    {{ item.DisplayName }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="fit">
                <mat-select [placeholder]="(CarProductionYear$ | async)?.Label"  formControlName="CarProductionYear">
                  <mat-option *ngFor="let item of (CarProductionYear$ | async)?.Options" [value]="item.Value">
                    {{ item.DisplayValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="fit">
                <mat-select [placeholder]="(CarYearsWithoutIncident$ | async)?.Label"  formControlName="CarYearsWithoutIncident">
                  <mat-option *ngFor="let item of (CarYearsWithoutIncident$ | async)?.Options" [value]="item.Value">
                    {{ item.DisplayValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="fit">
                <mat-select [placeholder]="(LastPolicyYearsWithoutIncident$ | async)?.Label"  formControlName="LastPolicyYearsWithoutIncident">
                  <mat-option *ngFor="let item of (LastPolicyYearsWithoutIncident$ | async)?.Options" [value]="item.Value">
                    {{ item.DisplayValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="fit">
                <mat-select [placeholder]="(LastPolicyNumOfUsedPropertyCoupon$ | async)?.Label"  formControlName="LastPolicyNumOfUsedPropertyCoupon">
                  <mat-option *ngFor="let item of (LastPolicyNumOfUsedPropertyCoupon$ | async)?.Options" [value]="item.Value">
                    {{ item.DisplayValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="fit">
                <mat-select [placeholder]="(LastPolicyNumOfUsedPersonCoupon$ | async)?.Label"  formControlName="LastPolicyNumOfUsedPersonCoupon">
                  <mat-option *ngFor="let item of (LastPolicyNumOfUsedPersonCoupon$ | async)?.Options" [value]="item.Value">
                    {{ item.DisplayValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="fit">
                <mat-select [placeholder]="(CarUsage$ | async)?.Label"  formControlName="CarUsage">
                  <mat-option *ngFor="let item of (CarUsage$ | async)?.Options" [value]="item.Value">
                    {{ item.DisplayValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="fit">
                <mat-select [placeholder]="(PolicyPushesheMali$ | async)?.Label"  formControlName="PolicyPushesheMali">
                  <mat-option *ngFor="let item of (PolicyPushesheMali$ | async)?.Options" [value]="item.Value">
                    {{ item.DisplayValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="fit">
                <mat-select [placeholder]="(PolicyTerm$ | async)?.Label"  formControlName="PolicyTerm">
                  <mat-option *ngFor="let item of (PolicyTerm$ | async)?.Options" [value]="item.Value">
                    {{ item.DisplayValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fit">
                <input matInput [matDatepicker]="LastPolicyExpirationDate" [placeholder]="(LastPolicyExpirationDate$ | async)?.Label" formControlName="LastPolicyExpirationDate">
                <mat-datepicker-toggle matSuffix [for]="LastPolicyExpirationDate"></mat-datepicker-toggle>
                <mat-datepicker #LastPolicyExpirationDate></mat-datepicker>
              </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" (click)="compare()">مقایسه</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div fxFlex="25px"></div>

    <div fxFlex="70" fxLayout="row">
      <order-policies-compare-item fxFlex="100"
        *ngFor="let policy of policies$ | async" 
        [policy]="policy" 
        [policyTerm]="SelectedPolicyTerm$ | async" 
        (click)="showCompanyInfo(policy)"
        (selected)="selectPolicy($event)">
      </order-policies-compare-item>
    </div>

  </div>

</mat-sidenav-container>