<mat-card *ngIf="price" class="policy-compare-card">
  <mat-card-header>
    <mat-card-title>
      <h3>{{policy.InsuranceCompany}}</h3>
    </mat-card-title>
    <!-- <mat-card-subtitle>{{policy.InsuranceCompany}}</mat-card-subtitle> -->
    <img mat-card-avatar [src]="logos[policy.InsuranceCompany]" >
  </mat-card-header>
  <mat-card-content>
    <mat-expansion-panel #modeDetail>
      <mat-expansion-panel-header>
        <mat-panel-title></mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
        <div fxLayout="row">
          <div fxFlex="50">
            <table mat-table [dataSource]="companyInfoDataSource" matSort>
              <ng-container matColumnDef="key">
                <td mat-cell *matCellDef="let element"> {{element.key}} </td>
              </ng-container>
              <ng-container matColumnDef="value">
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
              </ng-container>
              <tr mat-row *matRowDef="let row; columns: companyInfoDisplayCol;"></tr>
            </table>
          </div>
          <div fxFlex="50">
            <table mat-table [dataSource]="policyInfoDataSource" matSort>
              <ng-container matColumnDef="key">
                <td mat-cell *matCellDef="let element"> {{element.key}} </td>
              </ng-container>
              <ng-container matColumnDef="value">
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
              </ng-container>
              <tr mat-row *matRowDef="let row; columns: companyInfoDisplayCol;"></tr>
            </table>
          </div>
        </div>
    </mat-expansion-panel>
    <mat-grid-list cols="5" rowHeight="50px">
        <mat-grid-tile>
          <mat-chip-list>
            <mat-chip color="primary">
              {{price.DiscountPercent}}درصد تخفبف
            </mat-chip>
          </mat-chip-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="price">
            {{price.Price.DisplayValue}}
          </div>
          <div class="finalPrice">
            {{price.FinalPrice.DisplayValue}}
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="primary" (click)="showDetail()">اطلاعات بیشتر</button>
      <button mat-raised-button color="primary">سفارش</button>
    </mat-card-actions>
</mat-card>