/* .policy-compare-sidenav {
	height: 200px;
	padding: 0px;
} */
/* .logo {
	width: 32px;
	height: 32px;
	padding-top: 13.5px;
	padding-left: 20px;
} */
mat-expansion-panel {
	box-shadow: none !important;
}
/* mat-panel-description button {
	position: absolute;
	left: 40px;
	top: 6px;
} */
table {
	width: 100%;
}
.price {
	text-decoration: line-through;
	font-weight: bolder;
	color: #ff0000b3;
}
.finalPrice {
	font-weight: bolder;
	color: green;
}

h3.card-title {
	margin-top: 8px;
}
.logo {
	width: 40px;
	height: 40px;
	padding-left: 10px;
}
