<div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="center">
  <div *ngIf="!signedIn" class="signinWrapper" fxLayout="row" (click)="signInRequest()" fxLayoutAlign="center start">
    <button fxFlex="nogrow" mat-raised-button color="primary" (click)="signInRequest()">ورود به حساب کاریری</button>
  </div>
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="25px" [class.fade]="!signedIn" *ngIf="orderForm">
    
    <mat-card>
      <mat-card-title>
            مشخصات بیمه گذار
      </mat-card-title>
      <mat-card-content>
      <form [formGroup]="formGroup">
        <div fxLayout="row wrap" fxLayoutGap="25px">
          <div *ngFor="let field of insurerInfoForm" [fxFlex]="field.fxFlex">
            <ng-container [formGroup]="formGroup" [orderField]="orderForm[field.name]"></ng-container>
          </div>
        </div>
      </form>
    </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-title>
            اطلاعات تحویل گیرنده
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="formGroup">
          <div fxLayout="row wrap" fxLayoutGap="25px">
            <div *ngFor="let field of reciverInfoForm" [fxFlex]="field.fxFlex">
              <ng-container [formGroup]="formGroup" [orderField]="orderForm[field.name]"></ng-container>
            </div>
        </div>
      </form>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-title>
            اطلاعات ساختمان
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="formGroup">
          <div fxLayout="row wrap" fxLayoutGap="25px">
            <div *ngFor="let field of buildingInfoForm" [fxFlex]="field.fxFlex">
              <ng-container [formGroup]="formGroup" [orderField]="orderForm[field.name]"></ng-container>
            </div>
        </div>
      </form>
      </mat-card-content>
    </mat-card>
  
    
    
    <button mat-raised-button (click)="save()" color="primary" [disabled]="formGroup.invalid">نمایش فاکتور و پرداخت</button>
  </div>
</div>








  <!-- <app-field-input fxFlex="30" fxFlex.lt-sm="100"
            fxFlex="50"
            [formGroup]="formGroup"
            [placeholder]="orderForm.PolicyholderFirstName.Label"
            controlName="PolicyholderFirstName"
            [description]="orderForm.PolicyholderFirstName.Description"
            [hint]="orderForm.PolicyholderFirstName.Description"
            [tooltip]="orderForm.PolicyholderFirstName.Description"
            appearance="fill"
          ></app-field-input> -->
          <!-- <app-field-input fxFlex="30" fxFlex.lt-sm="100"
            fxFlex="50"
            [formGroup]="formGroup"
            [placeholder]="orderForm.PolicyholderLastName.Label"
            controlName="PolicyholderLastName"
            [description]="orderForm.PolicyholderLastName.Description"
            [hint]="orderForm.PolicyholderLastName.Description"
            [tooltip]="orderForm.PolicyholderLastName.Description"
            appearance="fill"
          ></app-field-input>
          <app-field-input fxFlex="30" fxFlex.lt-sm="100"
            fxFlex="50"
            [formGroup]="formGroup"
            [placeholder]="orderForm.PolicyholderNationalCode.Label"
            controlName="PolicyholderNationalCode"
            [description]="orderForm.PolicyholderNationalCode.Description"
            [hint]="orderForm.PolicyholderNationalCode.Description"
            [tooltip]="orderForm.PolicyholderNationalCode.Description"
            appearance="fill"
          ></app-field-input>
          <app-field-input fxFlex="30" fxFlex.lt-sm="100"
            fxFlex="50"
            [formGroup]="formGroup"
            [placeholder]="orderForm.PolicyholderMobile.Label"
            controlName="PolicyholderMobile"
            [description]="orderForm.PolicyholderMobile.Description"
            [hint]="orderForm.PolicyholderMobile.Description"
            [tooltip]="orderForm.PolicyholderMobile.Description"
            appearance="fill"
          ></app-field-input>
          <app-field-datepicker
            fxFlex="50"
            [formGroup]="formGroup"
            [placeholder]="orderForm.PolicyholderBirthDate.Label"
            controlName="PolicyholderBirthDate"
            [description]="orderForm.PolicyholderBirthDate.Description"
            [hint]="orderForm.PolicyholderBirthDate.Description"
            [tooltip]="orderForm.PolicyholderBirthDate.Description"
            appearance="fill"
          ></app-field-datepicker> -->