<mat-sidenav-container>
    <!-- <mat-sidenav mode="side" #requestDetailNav *ngIf='showSidebarMenu | async' [opened]='showSidebarMenu | async'> -->
    <mat-sidenav position='end' mode="side" #requestDetailNav>
        <mat-tab-group #requestDetailTabs>
            <mat-tab label="مشخصات" *ngIf="(activeOrder$|async)?.Id">
                <ng-template mat-tab-label>
                    <mat-icon>accessibility</mat-icon>
                </ng-template>
                <!-- <h3 mat-subheader>مشخصات بیمه نامه درخواستی</h3> -->
                <!-- <div *ngIf="signinService.is_admin()">
                    مشحضات کاریر اینجا نمایش داده می شود
                </div> -->
                <div fxLayout='column' class='list-items'>
                    <div class='list-item' *ngFor="let item of activeOrderReadonlyField$ | async" fxLayout='row' fxLayoutAlign='center center'>
                        <mat-icon fxFlex='nogrow'>laptop</mat-icon>
                        <div fxFlex='15px'></div>
                        <p fxFlex='40'>{{item.Label}}</p>
                        <p fxFlex='60' fxLayoutAlign="end">{{item.DisplayValue}}</p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>account_balance</mat-icon>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>history</mat-icon>
                </ng-template>
                تاریخچه تمامی تاریخچه درخواست نمایش داده میشود
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>attachment</mat-icon>
                </ng-template>
                لیست پیوست های درخواست به همراه متا دیتای پیوست نمایش داده میشود
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>chat</mat-icon>
                </ng-template>
                <!-- <chat></chat> -->
            </mat-tab>
            <mat-tab *ngIf="(activeOrder$|async)">
                <ng-template mat-tab-label>
                    <mat-icon>attach_money</mat-icon>
                </ng-template>
                <div fxLayout='column' class='list-items'>
                    <div class='list-item' fxLayout='row' fxLayoutAlign='center center'>
                        <mat-icon fxFlex='nogrow'>laptop</mat-icon>
                        <div fxFlex='15px'></div>
                        <p fxFlex='40'>قیمت</p>
                        <!-- <p fxFlex='60' fxLayoutAlign="end">{{(activeOrder$|async)?.Request.FinalPrice | currencyUnit}}</p> -->
                    </div>
                    <div class='list-item' fxLayout='row' fxLayoutAlign='center center'>
                        <mat-icon fxFlex='nogrow'>laptop</mat-icon>
                        <div fxFlex='15px'></div>
                        <p fxFlex='40'>کارمزد بازاریابی</p>
                        <!-- <p fxFlex='60' fxLayoutAlign="end">{{(activeOrder$|async)?.Request.Marketing | currencyUnit}}</p> -->
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav>

    <div fxFlexLayout='column' fxLayoutAlign='center center' fxlayoutGap="25px">
        <div fxFlex='0 0 100'>
            <div fxFlexLayout="row">
                <div fxFlex="grow">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor='let item of orders$ | async' (opened)="openRequest(item);">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span fxShow>
                                        <mat-icon>directions_car</mat-icon>
                                        {{item.Summary}}
                                    </span>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <span>{{item.WorkflowState}}</span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div>
                            <ngs-form-view *ngIf="item.Id==activeOrderId" #orderForm [schema]="activeOrderEditableFieldSchema$ | async"></ngs-form-view>
                            </div>
                            <mat-action-row>
                                <button  mat-button color="primary" (click)="openCommunicationTab()">تماس با درخواست دهنده</button>
                                <button mat-button color="primary" (click)="openHistoryTab()">تاریخچه</button>
                                <button mat-button color="primary" (click)="openAttachmentTab()">پیوست ها</button>
                                <button mat-button color="primary" (click)="openMoneyTab()">جزییات مالی</button>
                                <!-- <button mat-button color="warn" (click)="prevStep()"></button> -->
                                <button  mat-raised-button (click)="rejectOrder()">رد</button>
                                <button  mat-raised-button color="primary" (click)="approveOrder()">ثبت</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <!-- <div fxFlex="25px"></div>
                <mat-card fxFlex="500px">
                    <mat-card-title>
                        realtime reports
                    </mat-card-title>
                    <mat-card-content>
                        realtime reports
                    </mat-card-content>
                </mat-card> -->
            </div>

        </div>
    </div>
</mat-sidenav-container>