table {
	width: 100%;
}
.fit {
	width: 100%;
}
mat-icon.tooltip {
	position: absolute;
	left: 15px;
	font-size: 18px;
	color: #555;
}
mat-form-field {
	overflow: hidden;
}
.view-value {
	/* position: relative;
	top: 60px; */
}
.field-wrapper {
	height: 60px;
	overflow: hidden;
}
.field-wrapper > div {
	position: relative;
	top: 0;
}
#coverage-buttons button {
	margin-bottom: 25px;
}
