<!-- <mat-card id='con'>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="بیمه ثالث"> -->


        <ngs-flow-view [id]="proccessId"></ngs-flow-view>


        
<!-- 
      </mat-tab>
      <mat-tab label="">
        <ng-template mat-tab-label>
          بیمه بدنه
        </ng-template>
        <div class="demo-tab-content">
          از طریق اپلیکیشن و وب‌سایت بیمیتو هر لحظه و هر جایی که هستی می‌تونی به صورت آنلاین بیمه بخری. فقط کافیه به چند تا سوال ساده،
          جواب بدی تا بتونی کیفیت و قیمت ده‌ها شرکت بیمه مورد تایید بیمه مرکزی رو مقایسه کنی. آخر سر بیمه‌ای که به نظرت مناسب‌تر
          هست رو انتخاب کنی و بخری و در خونه تحویل بگیری.
        </div>
      </mat-tab>
      <mat-tab label="بیمه عمر" disabled>
        No content
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>

</mat-card> -->