<button class="close" mat-mini-fab (click)="fullscreenToggle()">
  <mat-icon>fullscreen_exit</mat-icon>
</button>
<button class="help" mat-mini-fab>
  <mat-icon>help_outline</mat-icon>
</button>
<button class="question" mat-mini-fab>
  <mat-icon>question_answer</mat-icon>
</button>
<div fxLayout="row wrap">
  <div class="blk" fxFlex="100">
    <order-home-detail [orderForm]="orderForm" (done)="homeIsDone($event)"></order-home-detail>
  </div>
  <div class="blk" fxFlex="100">
    <order-fire-policy-select-product [orderForm]="orderForm" [policies]="policies$ | async" (select)="selectProduct($event)"></order-fire-policy-select-product>
  </div>
  <div class="blk" fxFlex>
    <!-- <order-insurer-info class="card-box" [mode]="state.insurer.mode" [signedIn]="signedIn$ | async" (done)="doneInsurer($event)" (signInRequest)="signInRequest()"></order-insurer-info> -->
  </div>
</div>




    <!-- <div fxFlex="40">
      <order-view-order [orderForm]="orderForm$ | async" (done)="next()"></order-view-order>
    </div> -->
