<mat-card>
  <mat-card-content>

    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> نام بسته </mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.Name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="IsActive">
        <mat-header-cell *matHeaderCellDef mat-sort-header> زمان اعتبار </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <span *ngIf="!(item.IsActive)">غیرفعال</span>
          <span *ngIf="item.IsActive">فعال</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="IssueTime">
        <mat-header-cell *matHeaderCellDef> زمان خرید پکیج </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <span *ngIf="!item.IssueTime">0</span>
          <span *ngIf="item.IssueTime">{{item.IssueTime | persianDate}}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </mat-card-content>
</mat-card>