<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="50">
    <mat-card-title>
      خبرنامه بیمه‌آنلاین رو از دست ندید!
    </mat-card-title>
    <mat-card-content>
      <form (submit)="subscribe()" *ngIf="!subscribed">
        <mat-form-field  appearance="fill">
          <mat-label>ایمیل خود را وارد کنید</mat-label>
            <input matInput [(ngModel)]="email" name="email">
            <mat-icon matSuffix>email</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </form>
        <h3 *ngIf="subscribed">
          عضویت شما با موفقیت انجام شد.
        </h3>
      </mat-card-content>
    </mat-card>
</div>