<div fxLayout="row" fxLayoutAlign="center center" class="page-row">
  <div fxFlex="50">
    <h3 fxFlex="100">
      خبرنامه بیمه‌آنلاین رو از دست ندید!
    </h3>
    <div fxFlex="100" *ngIf="!subscribed" fxLayout="row" fxLayoutGap="25px">
      <mat-form-field appearance="fill" fxFlex="1 1 auto">
        <mat-label>ایمیل خود را وارد کنید</mat-label>
        <input matInput [(ngModel)]="email" name="email">
        <mat-icon matSuffix>email</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <button fxFlex="0 0 auto" mat-fab (click)=" subscribe()" color="primary">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
      <h3 *ngIf="subscribed">
        عضویت شما با موفقیت انجام شد.
      </h3>
  </div>
</div>