<div MatDialogContent fxLayout="row wrap">
  <div fxFlex="100">
      شما بیمه البرز با قیمت 
      <b>
        {{data.price.Price.DisplayValue}}
      </b> 
      انتخاب نمودید:
  </div>
  <div fxFlex="100">
      برای ملک مسکونی با متراژ 
      <b>
        {{data.orderForm.Area.Value}}
      </b>
      متر مربع
  </div>
  <div fxFlex="50">
    هزینه ساخت بنا:  
    <b>
      {{data.orderForm.ConstructionCostPerSquareMeter.Value * data.orderForm.Area.Value}} 
    </b>
    تومان 
  </div>
  <div fxFlex="40">
    ارزش لوازم خانه:  
    <b>
        {{data.orderForm.ThingsValue.Value}}
    </b>
    تومان
  </div>
  <div fxFlex="100">
      پوشش های اضافی:
  </div>
  <div fxFlex="50">
      زلزله:  
    <b>
      {{data.orderForm.EarthquakeExtraCoverage.Value? 'دارد' : 'ندارد'}} 
    </b>
  </div>
  <div fxFlex="50">
      ترکیدگی لوله:  
    <b>
      {{data.orderForm.PipeExplotionExtraCoverage.Value? 'دارد' : 'ندارد'}} 
    </b>
  </div>
  <div fxFlex="50">
      نشست زمین:  
    <b>
      {{data.orderForm.EarthSummitExtraCoverage.Value? 'دارد' : 'ندارد'}} 
    </b>
  </div>
  <div fxFlex="50">
      سقوط هواپیما:  
    <b>
      {{data.orderForm.AirplanFallExtraCoverage.Value? 'دارد' : 'ندارد'}} 
    </b>
  </div>
  <div fxFlex="50">
      طوفان:  
    <b>
      {{data.orderForm.StormExtraCoverage.Value? 'دارد' : 'ندارد'}} 
    </b>
  </div>
  <div fxFlex="50">
      سیل:  
    <b>
      {{data.orderForm.FloodExtraCoverage.Value? 'دارد' : 'ندارد'}} 
    </b>
  </div>
  <div fxFlex="50">
      سرقت مربوط به شکست حرز:  
    <b>
      {{data.orderForm.HarzExtraCoverage.Value? 'دارد' : 'ندارد'}} 
    </b>
  </div>
  <div fxFlex="50">
      ضایعات ناشی از برف و باران:  
    <b>
      {{data.orderForm.SnowRainExtraCoverage.Value? 'دارد' : 'ندارد'}} 
    </b>
  </div>
</div>

<div MatDialogActions>
  <button mat-button MatDialogClose>رد</button>
  <button mat-raised-button color="primary" (click)="approved()">تایید</button>
</div>