:host {
	width: 100%;
	padding: 50px;
}
.close {
	position: fixed;
	z-index: 2;
	bottom: 25px;
	right: 25px;
}
.help {
	position: fixed;
	z-index: 2;
	bottom: 75px;
	right: 25px;
}
.question {
	position: fixed;
	z-index: 2;
	bottom: 125px;
	right: 25px;
}
.card-box {
	transform: translateX(0);
}
.blk {
	height: calc(100vh - 100px);
	overflow: auto;
}
