<button class="close" mat-mini-fab (click)="fullscreenToggle()">
  <mat-icon>fullscreen_exit</mat-icon>
</button>
<button class="help" mat-mini-fab>
  <mat-icon>help_outline</mat-icon>
</button>
<button class="question" mat-mini-fab>
  <mat-icon>question_answer</mat-icon>
</button>
<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="25px">
  <div class="blk" fxFlex [@card]="state.car.animateState">
    <order-car-detail class="card-box" (done)="doneCar()"></order-car-detail>
  </div>
  <div class="blk" fxFlex [@card]="state.product.animateState">
    <order-select-product class="card-box" (done)="doneProduct($event)"></order-select-product>
  </div>
  <div class="blk" fxFlex [@card]="state.insurer.animateState">
    <order-insurer-info class="card-box" [mode]="state.insurer.mode" (done)="doneInsurer()"></order-insurer-info>
  </div>
</div>




    <!-- <div fxFlex="40">
      <order-view-order [orderForm]="orderForm$ | async" (done)="next()"></order-view-order>
    </div> -->
