
[invoice]



<mat-card>
    <div>
        <span>
            نوع خودرو
        </span>
        {{(process$ | async).Data.Factory}}
    </div>
    <div>
        <span>
            مدل خودرو
        </span>
        {{(process$ | async).Data.Model}}
    </div>
    <div>
        <span>
            سال تولید
        </span>
        {{(process$ | async).Data.Year}}
    </div>
    <div>
        <span>
            سابقه عدم خسارت
        </span>
        {{(process$ | async).Data.AdameKhesarat}}
    </div>
    <div>
        <span>
            بیمه گر
        </span>
        {{(process$ | async).Data.Policy.companyName}}
    </div>
    <div>
        <span>
            سطح پوشش
        </span>
        {{(process$ | async).Data.Policy.cover}}
    </div>
    <div>
        <span>
            هزینه
        </span>
        {{(process$ | async).Data.Policy.price}}
    </div>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="done()">تایید و پرداخت</button>
    </mat-card-actions>
</mat-card>