<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap="25px">
      <mat-card fxFlex>
          <mat-card-title>مقایسه و انتخاب بهترین بیمه</mat-card-title>
          <img mat-card-image src="assets/public-liability.png" >
          <mat-card-content>
            <p>
                قیمت و سایر مشخصات شرکت‌های بیمه را مقایسه کنید و اگر نیاز به مشاوره داشتید، با ما تماس بگیرید
            </p>
          </mat-card-content>
        </mat-card>
      <mat-card fxFlex>
          <mat-card-title>درخواست خرید و تکمیل اطلاعات</mat-card-title>
          <img mat-card-image src="assets/public-liability.png" >
          <mat-card-content>
            <p>
                بعد از انتخاب بهترین بیمه، اطلاعاتی که برای صدور بیمه نامتون لازمه رو وارد کنید و زمان ارسال رو انتخاب کنید
            </p>
          </mat-card-content>
        </mat-card>
      <mat-card fxFlex>
          <mat-card-title>صدور و ارسال بیمه‌نامه</mat-card-title>
          <img mat-card-image src="assets/public-liability.png" >
          <mat-card-content>
            <p>
                با پرداخت حق بیمه، سفارش کامل می‌شود. در صورت تکمیل سفارش تا ساعت 5 بعد از ظهر در تمامی روزها، بیمه شما همان روز صادر می‌شود.
            </p>
          </mat-card-content>
        </mat-card>
  </div>
</div>