/**/

mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
}

button.report {
    padding: 15px;
}

.title {
    margin-top: 0px;
    margin-bottom: 5px;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}