<mat-card>
  <mat-grid-list class="mat-table mat-row" cols="8" rowHeight="40px">
    <mat-grid-tile colspan="2" class="th">{{orderForm.MedicalRole.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="2">{{orderForm.MedicalRole.DisplayValue}}</mat-grid-tile>
    <mat-grid-tile colspan="2" class="th">{{orderForm.DoctorSpecialty.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="2">{{orderForm.DoctorSpecialty.DisplayValue}}</mat-grid-tile>
    <mat-grid-tile colspan="2" class="th">{{orderForm.IsResident.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="2">{{orderForm.IsResident.DisplayValue}}</mat-grid-tile>
    <mat-grid-tile colspan="2" class="th">{{orderForm.ParamedicineSpecialty.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="2">{{orderForm.ParamedicineSpecialty.DisplayValue}}</mat-grid-tile>
    <mat-grid-tile colspan="2" class="th">{{orderForm.IsStudent.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="2">{{orderForm.IsStudent.DisplayValue}}</mat-grid-tile>
    <mat-grid-tile colspan="2" class="th">{{orderForm.MedicalNoDamageRecord.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="2">{{orderForm.MedicalNoDamageRecord.DisplayValue}}</mat-grid-tile>
    <mat-grid-tile colspan="2" class="th">{{orderForm.BloodMoneyIncreaseCoverage.Label}}</mat-grid-tile>
    <mat-grid-tile colspan="2">{{orderForm.BloodMoneyIncreaseCoverage.DisplayValue? 'دارد' : 'ندارد'}}</mat-grid-tile>
  </mat-grid-list>
</mat-card>