/**/

.list-item {
    border-bottom: 1px solid #e5e5e5;
    margin-right: -16px;
    width: calc(100% + 32px);
}

.list-item>p:first-child {
    margin-right: 20px;
}

.list-item>p:nth-child(2) {
    font-weight: bold;
}