<div fxLayout="row">
  <mat-card fxFlex>
      <h3>مشخصات خودرو را ثبت نمایید.</h3>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
      <div [formGroup]="formGroup">
        <app-field-select
          [formGroup]="formGroup"
          [placeholder]="(CarBrand$ | async)?.Label"
          controlName="CarBrand"
          [description]="(CarBrand$ | async)?.Description"
          [hint]="(CarBrand$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(CarBrand$ | async)?.Description"
          [options]="(CarBrand$ | async)?.Options"
        ></app-field-select>
        <app-field-select
          [formGroup]="formGroup"
          [placeholder]="(CarModel$ | async)?.Label"
          controlName="CarModel"
          [description]="(CarModel$ | async)?.Description"
          [hint]="(CarModel$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(CarModel$ | async)?.Description"
          [options]="CarModelOptions$ | async"
        ></app-field-select>
        <app-field-select
          [formGroup]="formGroup"
          [placeholder]="(CarProductionYear$ | async)?.Label"
          controlName="CarProductionYear"
          [description]="(CarProductionYear$ | async)?.Description"
          [hint]="(CarProductionYear$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(CarProductionYear$ | async)?.Description"
          [options]="(CarProductionYear$ | async)?.Options"
        ></app-field-select>
        <app-field-select
          [formGroup]="formGroup"
          [placeholder]="(NoDamageRecord$ | async)?.Label"
          controlName="NoDamageRecord"
          [description]="(NoDamageRecord$ | async)?.Description"
          [hint]="(NoDamageRecord$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(NoDamageRecord$ | async)?.Description"
          [options]="(NoDamageRecord$ | async)?.Options"
        ></app-field-select>
        <app-field-select
          [formGroup]="formGroup"
          [placeholder]="(LastPolicyDiscountYears$ | async)?.Label"
          controlName="LastPolicyDiscountYears"
          [description]="(LastPolicyDiscountYears$ | async)?.Description"
          [hint]="(LastPolicyDiscountYears$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(LastPolicyDiscountYears$ | async)?.Description"
          [options]="(LastPolicyDiscountYears$ | async)?.Options"
        ></app-field-select>
        <app-field-select
          [formGroup]="formGroup"
          [placeholder]="(LastPolicyUsedPropertyCoupons$ | async)?.Label"
          controlName="LastPolicyUsedPropertyCoupons"
          [description]="(LastPolicyUsedPropertyCoupons$ | async)?.Description"
          [hint]="(LastPolicyUsedPropertyCoupons$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(LastPolicyUsedPropertyCoupons$ | async)?.Description"
          [options]="(LastPolicyUsedPropertyCoupons$ | async)?.Options"
        ></app-field-select>
        <app-field-select
          [formGroup]="formGroup"
          [placeholder]="(LastPolicyUsedPersonCoupons$ | async)?.Label"
          controlName="LastPolicyUsedPersonCoupons"
          [description]="(LastPolicyUsedPersonCoupons$ | async)?.Description"
          [hint]="(LastPolicyUsedPersonCoupons$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(LastPolicyUsedPersonCoupons$ | async)?.Description"
          [options]="(LastPolicyUsedPersonCoupons$ | async)?.Options"
        ></app-field-select>
        <app-field-select
          [formGroup]="formGroup"
          [placeholder]="(CarUsage$ | async)?.Label"
          controlName="CarUsage"
          [description]="(CarUsage$ | async)?.Description"
          [hint]="(CarUsage$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(CarUsage$ | async)?.Description"
          [options]="(CarUsage$ | async)?.Options"
        ></app-field-select>
        <app-field-datepicker
          [formGroup]="formGroup"
          [placeholder]="(LastPolicyExpirationDate$ | async)?.Label"
          controlName="LastPolicyExpirationDate"
          [description]="(LastPolicyExpirationDate$ | async)?.Description"
          [hint]="(LastPolicyExpirationDate$ | async)?.Description"
          [mode]="mode"
          [tooltip]="(LastPolicyExpirationDate$ | async)?.Description"
        ></app-field-datepicker>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" *ngIf="mode == 'edit'" (click)="complete()"  [disabled]="formGroup.invalid">ثبت</button>
      <button mat-raised-button color="primary" *ngIf="mode == 'view'" (click)="editMode()">ویرایش</button>
    </mat-card-actions>
  </mat-card>
</div>