<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="selectCheckbox">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox></mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="companyName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> شرکت بیمه </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.companyName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header> مبلغ </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.prices[0].price | currencyUnit}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cover">
    <mat-header-cell *matHeaderCellDef mat-sort-header> سطح پوشش </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.prices[0].cover | currencyUnit}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="totalPenalty">
    <mat-header-cell *matHeaderCellDef mat-sort-header> میزان جریمه </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.totalPenalty}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dayPenalty">
    <mat-header-cell *matHeaderCellDef mat-sort-header>میزان تاخیر </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.dayPenalty}} روز</mat-cell>
  </ng-container>

  <ng-container matColumnDef="penalty">
    <mat-header-cell *matHeaderCellDef mat-sort-header> میزان جریمه به ازای هر روز </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.penalty}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="icon">
    <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <img class="logo" [src]="row.icon" /> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="satisfaction">
    <mat-header-cell *matHeaderCellDef mat-sort-header> سطح توانگری </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.satisfaction}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="portion">
    <mat-header-cell *matHeaderCellDef mat-sort-header> رضایت از مبلغ پرداختی خسارت (رتبه) </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.portion}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="complaint">
    <mat-header-cell *matHeaderCellDef mat-sort-header> complaint </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.complaint}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="branch">
    <mat-header-cell *matHeaderCellDef mat-sort-header> تعداد شعب پرداخت خسارت </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.branch}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="discount">
    <mat-header-cell *matHeaderCellDef mat-sort-header> discount </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.discount}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell class='left-align' *matCellDef="let row">
      <button mat-icon-button (click)="selectPlicy(row)">
        <mat-icon aria-label="انتخاب">arrow_back</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>