:host {
	width: 100%;
}
table {
	width: 100%;
}
.fill {
	width: 100%;
}

.fit mat-expansion-panel {
	box-shadow: none !important;
	width: calc(100% + 48px);
	position: relative;
	right: -24px;
}
.mat-expansion-panel-header[aria-disabled=true] {
	color: inherit !important;
}
mat-panel-description {
	justify-content: flex-end;
}
mat-icon.tooltip {
	position: absolute;
	left: 15px;
	font-size: 18px;
	color: #555;
}
