<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="33" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="25px">
    <mat-card fxFlex="50">
      <mat-card-title>
          مشخصات بیمه گذار
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="formGroup">
            <mat-form-field>
                <input matInput [placeholder]="(PolicyholderFirstName$ | async)?.Label" formControlName="PolicyholderFirstName">
            </mat-form-field>
            <mat-form-field>
                <input matInput [placeholder]="(PolicyholderLastName$ | async)?.Label" formControlName="PolicyholderLastName">
            </mat-form-field>
            <mat-expansion-panel  #PolicyHolderExpansion disabled>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-slide-toggle checked="true" (change)="disbaleForm($event)">مشخصات بیمه گذار مطابق با تصویر کارت ماشین ثبت شود</mat-slide-toggle>
                </mat-panel-title>
              </mat-expansion-panel-header>
            
                <mat-form-field fxFlex>
                  <input matInput [placeholder]="(PolicyholderNationalCode$ | async)?.Label" formControlName="PolicyholderNationalCode">
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input matInput [placeholder]="(PolicyholderBirthDate$ | async)?.Label" formControlName="PolicyholderBirthDate">
                </mat-form-field>
                <mat-form-field fxFlex>
                  <input matInput [placeholder]="(PolicyholderFatherName$ | async)?.Label" formControlName="PolicyholderFatherName">
                </mat-form-field>
            </mat-expansion-panel>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="100">
      <mat-card-title>
          نشانی درج روی بیمه نامه
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="formGroup">
            <mat-expansion-panel #PolicyAddressExpansion disabled>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-radio-group formControlName="PolicyAddressSource">
                    <mat-radio-button *ngFor="let source of (PolicyAddressSource$ | async)?.Options" [value]="source.Value">{{source.DisplayValue}}</mat-radio-button>
                  </mat-radio-group>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div fxLayout="row">
                <mat-form-field fxFlex="20">
                  <mat-select [placeholder]="(PolicyAddressCityId$ | async)?.Label" formControlName="PolicyAddressCityId">
                    <mat-option *ngFor="let item of (PolicyAddressCityId$ | async)?.Options" [value]="item.Value">
                      {{ item.DisplayValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="fill"  fxFlex="80">
                  <input matInput [placeholder]="(PolicyAddress$ | async)?.Label" formControlName="PolicyAddress">
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          <div fxLayout="row">
              <file-drop fxFlex 
                [headertext]="(LastPolicyImage$ | async)?.Label" 
                (onFileDrop)="LastPolicyImageDropped($event)" 
                (onFileOver)="LastPolicyImageFileOver($event)" 
                (onFileLeave)="LastPolicyImageFileLeave($event)"
              ></file-drop>
              <file-drop fxFlex
                [headertext]="(LastPolicyImage$ | async)?.Label" 
                (onFileDrop)="LastPolicyImageDropped($event)" 
                (onFileOver)="LastPolicyImageFileOver($event)" 
                (onFileLeave)="LastPolicyImageFileLeave($event)"
              ></file-drop>
              <file-drop fxFlex
                [headertext]="(LastPolicyImage$ | async)?.Label" 
                (onFileDrop)="LastPolicyImageDropped($event)" 
                (onFileOver)="LastPolicyImageFileOver($event)" 
                (onFileLeave)="LastPolicyImageFileLeave($event)"
              ></file-drop>
            </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="100">
      <mat-card-title>
          
      </mat-card-title>
      <mat-card-content>
        <h4>
          نشانی تحویل گیرنده
        </h4>
          <form [formGroup]="formGroup" fxLayout="row">
            <mat-form-field fxFlex="20">
                <mat-select [placeholder]="(DeliveryAddressCityId$ | async)?.Label" formControlName="DeliveryAddressCityId">
                  <mat-option *ngFor="let item of (DeliveryAddressCityId$ | async)?.Options" [value]="item.Value">
                    {{ item.DisplayValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fill" fxFlex="80">
              <input matInput [placeholder]="(DeliveryAddress$ | async)?.Label" formControlName="DeliveryAddress">
            </mat-form-field>
          </form>
          <h4>
              انتخاب زمان ارسال
          </h4>
          <table mat-table [dataSource]="DelieryTimeTableDataSource$ | async">
            <ng-container matColumnDef="Checkbox">
              <td mat-cell *matCellDef="let row">
                <mat-radio-group [(ngModel)]="DeliverDateTime">
                  <mat-radio-button (click)="selectDeliveryTime(row)" [value]="row.DayOfWeek + row.TimeFrom.Hours + row.TimeTo.Hours"></mat-radio-button>
                </mat-radio-group>
              </td>
            </ng-container>
            <ng-container matColumnDef="Date">
              <td mat-cell *matCellDef="let element"> {{element.DayOfWeek}} </td>
            </ng-container>
            <ng-container matColumnDef="Time">
              <td mat-cell *matCellDef="let element"> {{element.TimeFrom.Hours}} - {{element.TimeTo.Hours}}  ساعت</td>
            </ng-container>
            
            <tr mat-row *matRowDef="let row; columns: DelieryTimeTableDisplayColumns;" (click)="selectDeliveryTime(row)"></tr>
          </table>
      </mat-card-content>
    </mat-card>
    <button mat-raised-button (click)="save()" color="primary">ثبت</button>
  </div>
</div>
