<div fxLayout="row" fxLayoutGap="25px">
  <div *ngIf="!signedIn" class="signinWrapper" fxLayout="row" fxLayoutAlign="center center">
    <button fxFlex="nogrow" mat-raised-button color="primary" (click)="signInRequest()">ورود به حساب کاریری</button>
  </div>
  <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="25px" [class.fade]="!signedIn">
      <mat-accordion>
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
            <mat-expansion-panel-header>
                  مشخصات بیمه گذار
            </mat-expansion-panel-header>
            <form [formGroup]="formGroup">
              <div fxLayout="row wrap" fxLayoutGap="25px">
                <mat-form-field fxFlex="50">
                  <input matInput [placeholder]="(PolicyholderFirstName$ | async)?.Label" formControlName="PolicyholderFirstName">
                  <mat-icon class="tooltip md-18" *ngIf="(PolicyholderFirstName$ | async)?.Description" [matTooltip]="(PolicyholderFirstName$ | async)?.Description">help</mat-icon>
                </mat-form-field>
                <mat-form-field fxFlex="1 1 auto">
                  <input matInput [placeholder]="(PolicyholderLastName$ | async)?.Label" formControlName="PolicyholderLastName">
                  <mat-icon class="tooltip md-18" *ngIf="(PolicyholderLastName$ | async)?.Description" [matTooltip]="(PolicyholderLastName$ | async)?.Description">help</mat-icon>
                </mat-form-field>
                <mat-form-field  fxFlex="50">
                  <input matInput [placeholder]="(PolicyholderMobile$ | async)?.Label" formControlName="PolicyholderMobile">
                  <mat-icon class="tooltip md-18" *ngIf="(PolicyholderMobile$ | async)?.Description" [matTooltip]="(PolicyholderMobile$ | async)?.Description">help</mat-icon>
                </mat-form-field>
                <mat-form-field  fxFlex>
                  <input matInput [placeholder]="(PolicyholderPhone$ | async)?.Label" formControlName="PolicyholderPhone">
                  <mat-icon class="tooltip md-18" *ngIf="(PolicyholderPhone$ | async)?.Description" [matTooltip]="(PolicyholderPhone$ | async)?.Description">help</mat-icon>
                </mat-form-field>
              </div>
                <mat-accordion class="fit">
                  <mat-expansion-panel expanded="true"  #PolicyHolderExpansion disabled>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-slide-toggle checked="false" (change)="disbaleForm($event)">مشخصات بیمه گذار مطابق با تصویر کارت ماشین ثبت شود</mat-slide-toggle>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayout="row wrap" fxLayoutGap="25px">
                      <mat-form-field fxFlex>
                        <input matInput [placeholder]="(PolicyholderNationalCode$ | async)?.Label" formControlName="PolicyholderNationalCode">
                        <mat-icon class="tooltip md-18" *ngIf="(PolicyholderNationalCode$ | async)?.Description" [matTooltip]="(PolicyholderNationalCode$ | async)?.Description">help</mat-icon>
                      </mat-form-field>
                      <mat-form-field class="fit">
                        <input matInput [matDatepicker]="PolicyholderBirthDate" [placeholder]="(PolicyholderBirthDate$ | async)?.Label" formControlName="PolicyholderBirthDate">
                        <mat-datepicker-toggle matSuffix [for]="PolicyholderBirthDate"></mat-datepicker-toggle>
                        <mat-datepicker #PolicyholderBirthDate></mat-datepicker>
                        <mat-icon class="tooltip md-18" *ngIf="(PolicyholderBirthDate$ | async)?.Description" [matTooltip]="(PolicyholderBirthDate$ | async)?.Description">help</mat-icon>
                      </mat-form-field>
                      <mat-form-field fxFlex>
                        <input matInput [placeholder]="(PolicyholderFatherName$ | async)?.Label" formControlName="PolicyholderFatherName">
                        <mat-icon class="tooltip md-18" *ngIf="(PolicyholderFatherName$ | async)?.Description" [matTooltip]="(PolicyholderFatherName$ | async)?.Description">help</mat-icon>
                      </mat-form-field>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
            </form>
            <mat-action-row>
              <button mat-raised-button color="primary" (click)="nextStep()">ادامه</button>
            </mat-action-row>
          </mat-expansion-panel>
        
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
            <mat-expansion-panel-header>
                  اطلاعات بیمه نامه
            </mat-expansion-panel-header>
            <form [formGroup]="formGroup">
              <h4>نشانی درج روی بیمه نامه</h4>
              <mat-accordion class="fit">
                <mat-expansion-panel  #PolicyAddressExpansion disabled>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-radio-group fxLayout="row" fxLayoutGap="25px" formControlName="PolicyAddressSource">
                        <mat-radio-button fxFlex="0 0 auto" *ngFor="let source of (PolicyAddressSource$ | async)?.Options" [value]="source.Value">{{source.DisplayValue}}</mat-radio-button>
                      </mat-radio-group>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div fxLayout="row wrap" fxLayoutGap="25px">
                    <mat-form-field fxFlex="20">
                      <mat-select [placeholder]="(PolicyAddressCityId$ | async)?.Label" formControlName="PolicyAddressCityId">
                        <mat-option *ngFor="let item of (PolicyAddressCityId$ | async)?.Options" [value]="item.Value">
                          {{ item.DisplayValue }}
                        </mat-option>
                      </mat-select>
                      <mat-icon class="tooltip md-18" *ngIf="(PolicyAddressCityId$ | async)?.Description" [matTooltip]="(PolicyAddressCityId$ | async)?.Description">help</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="fill"  fxFlex="80">
                      <input matInput [placeholder]="(PolicyAddress$ | async)?.Label" formControlName="PolicyAddress">
                      <mat-icon class="tooltip md-18" *ngIf="(PolicyAddress$ | async)?.Description" [matTooltip]="(PolicyAddress$ | async)?.Description">help</mat-icon>
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <div fxLayout="row wrap" fxLayoutGap="25px">
                  <file-drop fxFlex 
                    [headertext]="(PolicyholderCarIdCardBack$ | async)?.Label" 
                    (onFileDrop)="LastPolicyImageDropped($event)" 
                    (onFileOver)="LastPolicyImageFileOver($event)" 
                    (onFileLeave)="LastPolicyImageFileLeave($event)"
                  ></file-drop>
                  <file-drop fxFlex
                    [headertext]="(PolicyholderCarIdCardFront$ | async)?.Label" 
                    (onFileDrop)="LastPolicyImageDropped($event)" 
                    (onFileOver)="LastPolicyImageFileOver($event)" 
                    (onFileLeave)="LastPolicyImageFileLeave($event)"
                  ></file-drop>
                  <file-drop fxFlex
                    [headertext]="(LastPolicyImage$ | async)?.Label" 
                    (onFileDrop)="LastPolicyImageDropped($event)" 
                    (onFileOver)="LastPolicyImageFileOver($event)" 
                    (onFileLeave)="LastPolicyImageFileLeave($event)"
                  ></file-drop>
                </div>
            </form>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">بازگشت</button>
              <button mat-raised-button color="primary" (click)="nextStep()">ادامه</button>
            </mat-action-row>
          </mat-expansion-panel>
        
          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
            <mat-expansion-panel-header>
                اطلاعات ارسال
            </mat-expansion-panel-header>
            <h4>
                نشانی ارسال
              </h4>
                <form [formGroup]="formGroup" fxLayout="row wrap" fxLayoutGap="25px">
                  <mat-form-field fxFlex="20">
                      <mat-select [placeholder]="(DeliveryPlaceCityId$ | async)?.Label" formControlName="DeliveryPlaceCityId">
                        <mat-option *ngFor="let item of (DeliveryPlaceCityId$ | async)?.Options" [value]="item.Value">
                          {{ item.DisplayValue }}
                        </mat-option>
                      </mat-select>
                      <mat-icon class="tooltip md-18" *ngIf="(DeliveryPlaceCityId$ | async)?.Description" [matTooltip]="(DeliveryPlaceCityId$ | async)?.Description">help</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="fill" fxFlex="80">
                    <input matInput [placeholder]="(DeliveryPlaceAddress$ | async)?.Label" formControlName="DeliveryPlaceAddress">
                    <mat-icon class="tooltip md-18" *ngIf="(DeliveryPlaceAddress$ | async)?.Description" [matTooltip]="(DeliveryPlaceAddress$ | async)?.Description">help</mat-icon>
                  </mat-form-field>
                </form>
                <h4>
                    زمان ارسال
                </h4>
                <p>
                  در صورت ثبت سفارش قبل از ساعت 5 بعد از ظهر، بیمه نامه در همان روز برای شما صادر می شود و زمان زیر تنها مشخص کننده زمان ارسال بیمه نامه می باشد.
                </p>
                <table mat-table [dataSource]="DelieryTimeTableDataSource$ | async">
                  <ng-container matColumnDef="Checkbox">
                    <td mat-cell *matCellDef="let row">
                      <mat-radio-group [(ngModel)]="DeliverDateTime">
                        <mat-radio-button (click)="selectDeliveryTime(row)" [value]="row.Id"></mat-radio-button>
                      </mat-radio-group>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Day">
                    <td mat-cell *matCellDef="let element"> {{element.Date | persianDate}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Date">
                    <td mat-cell *matCellDef="let element"> {{element.DayOfWeek}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Time">
                    <td mat-cell *matCellDef="let element"> {{element.TimeFrom.Hours}}:00 تا {{element.TimeTo.Hours}}:00 </td>
                  </ng-container>
                  
                  <tr mat-row *matRowDef="let row; columns: DelieryTimeTableDisplayColumns;" (click)="selectDeliveryTime(row)"></tr>
                </table>
        
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">بازگشت</button>
              <button mat-raised-button (click)="save()" color="primary" [disabled]="formGroup.invalid">نمایش فاکتور و پرداخت</button>
            </mat-action-row>
          </mat-expansion-panel>
        
        </mat-accordion>

  </div>
</div>

<!-- 

<div fxFlex>
    <mat-card id="paymentInfo">
      <mat-card-title>اطلاعات بیمه نامه</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            {{(orderForm$ | async)?.CarBrand.Label}}
            <span class="value">
              {{(orderForm$ | async)?.CarBrand.DisplayValue}}
            </span>
          </mat-list-item>
          <mat-list-item>
            {{(orderForm$ | async)?.CarModel.Label}}
            <span class="value">
              {{(orderForm$ | async)?.CarModel.DisplayValue}}
            </span>
          </mat-list-item>
          <mat-list-item>
            {{(orderForm$ | async)?.CarProductionYear.Label}}
            <span class="value">
              {{(orderForm$ | async)?.CarProductionYear.DisplayValue}}
            </span>
          </mat-list-item>
          <mat-list-item>
            {{(orderForm$ | async)?.LastPolicyExpirationDate.Label}}
            <span class="value">
              {{(orderForm$ | async)?.LastPolicyExpirationDate.DisplayValue}}
            </span>
          </mat-list-item>
          <mat-list-item>
            {{(orderForm$ | async)?.PolicyPushesheMali.Label}}
            <span class="value">
              {{(orderForm$ | async)?.PolicyPushesheMali.DisplayValue}}
            </span>
          </mat-list-item>
          <mat-list-item>
            {{(orderForm$ | async)?.CarUsage.Label}}
            <span class="value">
              {{(orderForm$ | async)?.CarUsage.DisplayValue}}
            </span>
          </mat-list-item>
          <mat-list-item>
            {{(orderForm$ | async)?.PolicyTerm.Label}}
            <span class="value">
              {{(orderForm$ | async)?.PolicyTerm.DisplayValue}}
            </span>
          </mat-list-item>
          <mat-list-item class="totalPremium">
            {{(orderForm$ | async)?.TotalPremium.Label}}
            <span class="value">
              {{(orderForm$ | async)?.TotalPremium.DisplayValue}}
            </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
</div> -->
