<div class="review-component" fxLayout="row" fxLayoutAlign="center">

    <div fxLayout="row" fxFlex="65" fxLayoutGap="25px">
      <div fxFlex="70">
        <h3>مشخصات بیمه گذار</h3>
        <mat-card>
            <mat-grid-list class="mat-table mat-row" cols="6" rowHeight="40px">
            <mat-grid-tile class="th">نام</mat-grid-tile>
            <mat-grid-tile class="th">{{(PolicyholderFatherName$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{(PolicyholderNationalCode$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{(PolicyholderMobile$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{(PolicyholderPhone$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{(PolicyholderBirthDate$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile>{{(PolicyholderFirstName$ | async)?.DisplayValue}} {{(PolicyholderLastName$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{(PolicyholderFatherName$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{(PolicyholderNationalCode$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{(PolicyholderMobile$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{(PolicyholderPhone$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{(PolicyholderBirthDate$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile colspan="2" class="th">{{(PolicyAddress$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile colspan="4">{{(PolicyAddress$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile colspan="2" class="th">{{(DeliveryAddress$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile colspan="4">{{(DeliveryAddress$ | async)?.DisplayValue}}</mat-grid-tile>
            <!-- <mat-grid-tile class="th">شرکت بیمه</mat-grid-tile>
            <mat-grid-tile colspan="4">{{(DeliveryAddress$ | async)?.DisplayValue}}</mat-grid-tile> -->
          </mat-grid-list>
        </mat-card>
        <h3>مشخصات بیمه نامه</h3>
        <mat-card>
          <mat-grid-list class="mat-table mat-row" cols="6" rowHeight="40px">
            <mat-grid-tile class="th">{{(CarModel$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{(CarUsage$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{(PolicyTerm$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile colspan="1" class="th">{{(PolicyPushesheMali$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile colspan="1" class="th">{{(PolicyPushesheRanande$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile colspan="1" class="th">{{(PolicyPushesheSarneshin$ | async)?.Label}}</mat-grid-tile>
            
            <mat-grid-tile>{{(CarModel$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{(CarUsage$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{(PolicyTerm$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile colspan="1">{{(PolicyPushesheMali$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile colspan="1">{{(PolicyPushesheRanande$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile colspan="1">{{(PolicyPushesheSarneshin$ | async)?.DisplayValue}}</mat-grid-tile>
  
            <mat-grid-tile colspan="2" class="th">{{(LastPolicyExpirationDate$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile colspan="1">{{(LastPolicyExpirationDate$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile colspan="2" class="th">{{(LastPolicyYearsWithoutIncident$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile colspan="1">{{(LastPolicyYearsWithoutIncident$ | async)?.DisplayValue}}</mat-grid-tile>
          </mat-grid-list>
        </mat-card>
        <h3>مشخصات کارگزار</h3>
        <mat-card>
          <mat-grid-list class="mat-table mat-row" cols="4" rowHeight="40px">
            <mat-grid-tile class="th">{{(SellerName$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{(SellerNationalId$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{(SellerRegistrationNo$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile class="th">{{(SellerEconomicNo$ | async)?.Label}}</mat-grid-tile>
            <mat-grid-tile>{{(SellerName$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{(SellerNationalId$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{(SellerRegistrationNo$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile>{{(SellerEconomicNo$ | async)?.DisplayValue}}</mat-grid-tile>
            <mat-grid-tile colspan="4">
              <!-- <b>{{(SellerAddress$ | async)?.Label}}: </b> -->
              <span>{{(SellerAddress$ | async)?.DisplayValue}}, </span>
              <b> {{(SellerZipCode$ | async)?.Label}}: </b>
              <span>{{(SellerZipCode$ | async)?.DisplayValue}}, </span>
              <b> {{(SellerPhone$ | async)?.Label}}: </b>
              <span> {{(SellerPhone$ | async)?.DisplayValue}}</span>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
        
      </div>
            
      <div fxFlex="30">
        <h3>جزئیات پرداخت</h3>
        <mat-card id="paymentInfo" [formGroup]="formGroup">
          <mat-card-content>
            <div fxLayout="row wrap">
              <div fxFlex="50">حق بیمه خالص</div>
              <div fxFlex="50"><b>{{(NetPremium$ | async)?.DisplayValue}}</b></div>
              <div fxFlex="50">مالیات و عوارض</div>
              <div fxFlex="50"><b>{{(TaxesAndDuties$ | async)?.DisplayValue}}</b></div>
              <div fxFlex="50">جمع کل حق بیمه</div>
              <div fxFlex="50"><b>{{(TotalPremium$ | async)?.DisplayValue}}</b></div>
              <div fxFlex="50">تخفیف </div>
              <div fxFlex="50"><b>{{(Discount$ | async)?.DisplayValue}}</b></div>
              <div fxFlex="50">هزینه ارسال</div>
              <div fxFlex="50"><b>{{(ShippingCost$ | async)?.DisplayValue}}</b></div>
              <div fxFlex="100">
              <mat-accordion class="fit" *ngIf="!isPayed">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    کد تخفیف دارید؟
                  </mat-expansion-panel-header>
                  <div fxLayout="row">
                    <mat-form-field class="fill fit" appearance="fill">
                      <input matInput placeholder="کد تخفیف">
                    </mat-form-field>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <mat-chip-list *ngIf="isPayed">
            <mat-chip color="primary" selected="true">پرداخت شده</mat-chip>
          </mat-chip-list>
          <mat-checkbox class="wrap" *ngIf="!isPayed" formControlName="AgreementTerms">{{(AgreementTerms$ | async)?.Label}}</mat-checkbox>
          </mat-card-content>
          <mat-card-actions fxLayout="row" *ngIf="!isPayed">
            <button fxFlex="100" mat-raised-button (click)="pay()" color="primary" [disabled]="formGroup.invalid">
                تایید نهایی و پرداخت
            </button>
          </mat-card-actions>
          <mat-card-footer fxLayout="row" fxLayoutAlign="center center" *ngIf="!isPayed">
            <div fxFlex="50">مبلغ قابل پرداخت</div>
            <h3 fxFlex="50">
                {{(AmountPayable$ | async)?.DisplayValue}}
            </h3>
            <order-redirect-to-bank [data]="InitiationPaymentResult$ | async"></order-redirect-to-bank>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
  